<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/navbar') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
</head>

<body>
    <h1>404 Not Found <%= subreddit %>
    </h1>
    <p>Sorry, we couldn't find what you were looking for.</p>
    <a href="/">Go back to home</a>
</body>

</html>